[core]
	excludesfile = $HOME/.gitignore_global
	editor = /usr/bin/vim

[log]
	decorate = true

[user]
	name = Dennis Charmington
	email = dennis@charmington.se

[color]
	ui = true

[push]
	default = current

[alias]
	logs =  log --pretty=format:'%C(cyan)%h %C(yellow)%ad %C(bold red)%d %C(reset)%s %C(dim green)[%an]' --abbrev-commit --decorate --date=relative
	logg =  log --pretty=format:'%C(cyan)%h %C(yellow)%ad %C(bold red)%d %C(reset)%s %C(green)[%an]' --abbrev-commit --decorate --date=relative --graph #--simplify-by-decoration
	logn =  log --pretty=format:'%C(cyan)%h %C(yellow)%ad %C(bold red)%d %C(reset)%s %C(green)[%an]' --abbrev-commit --decorate --date=relative --numstat
	logh =  log --pretty=format:'%C(cyan)%h %C(yellow)%ad %C(bold red)%d %C(reset)%s %C(green)[%an]' --abbrev-commit --decorate --date=relative --graph --full-history --all
	logdev = log --pretty=format:'%C(cyan)%h %C(yellow)%ad %C(bold red)%d %C(reset)%s %C(dim green)[%an]' --abbrev-commit --decorate --date=relative --no-merges develop..

	showdev = show --no-merges develop..
	
	branch-touched = for-each-ref --sort=-committerdate --format="%(committerdate:relative)%09%(refname:short)" refs/heads

	st = status
	ci = commit
	co = checkout
	br = branch
	diff = diff --word-diff
	dc = diff --cached
	ds = diff --staged

	cod = checkout develop
	com = checkout master
	
	sl = stash list
	sa = stash apply
	ss = stash save
	sd = stash drop
	
	fetchall = fetch --all --tags --prune
	
